<section class="assay-list-section">
<h3><%= t('.assay_list') %> <span class="badge"><%= assays.count %></span></h3>
<%= pagination(assays) %>
<ul class="assay-list list-group">
  <%= render(assays) %>
</ul>
<%= pagination(assays) %>
</section>
