<section class="assay-set-list-section">
<h3><%= t('.assay_set_list') %> <span class="badge"><%= assay_sets.count %></span></h3>
<%= pagination(assay_sets) %>
<ul class="assay-set-list list-group">
  <%= render(assay_sets) %>
</ul>
<%= pagination(assay_sets) %>
</section>
