<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= t("application.title_html") %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"><ul class="nav navbar-nav">
      <li class="dropdown <%= ['assays','assay_sets'].include?(controller_name) ? 'active' : '' %>">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assays <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#"><%= link_to "Create Assays", new_assay_set_path %></li>
          <li><a href="#"><%= link_to "List Assay Sets", assay_sets_path %></li>
          <li><a href="#"><%= link_to "List Assays", assays_path %></li>
        </ul>
        </li>
      <li class="dropdown <%= ['stocks','stock_sets'].include?(controller_name) ? 'active' : '' %>">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stocks <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Create Stocks</a></li>
          <li><a href="#">List Stock Sets</a></li>
          <li><a href="#">List Stocks</a></li>
        </ul>
      </li>
      <li class="dropdown <%= ['quants'].include?(controller_name) ? 'active' : '' %>">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quants <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Perform Quant</a></li>
          <li><a href="#">List Quants</a></li>
        </ul>
      </li>
    </ul></div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
