<section class="<%= model_name.element %>-list-section">
<% if items.empty? %>
  <%= render partial: 'creation_prompt', locals: { model_name: model_name.human(count: 2), creation_link: creation_link, filtered: local_assigns[:filtered] } %>
<% else %>
<% count = items.count %>
<h3><%= model_name.human(count: count) %> <span class="badge"><%= count %></span></h3>
  <%= pagination(items) %>
  <ul class="<%= model_name.element %>-list list-group">
    <%= render(items) %>
  </ul>
  <%= pagination(items) %>
<% end %>
</section>
