<!DOCTYPE html>
<html>
  <head>
    <title><%= t('application.title') %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= render 'header' %>
      <section class="page_content">
        <h2><%= t(:title,scope:controller_name,default:controller_name.titleize) %> <small><%= page_subtitle %></small></h2>
        <div class="row">
        <section class="col-md-9">
          <%= render :partial => 'flash', collection: flash.to_a %>
          <article class="interface">
            <%= yield %>
          </article>
        </section>
        <%= render 'help' %>
        </div>
      </section>
      <%= render 'footer' %>
    </div>
  </body>
</html>
